* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header Nav */
header {
  margin-bottom: 30px;
  background-color: #333;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
li span {
  display: inline-block;
  padding: 14px 16px;
  color: whitesmoke;
}
/* Header Nav End */
h1, h2 {
  margin-bottom: 30px;
}
/* Form */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=radio] {
  margin: 8px 0;
  display: inline-block;
  width: 50px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.error {
  padding: 20px;
  background-color: red;
  color: whitesmoke;
  text-align: center;
}
/* Form end */

.container {
  width: 900px;
  margin: 0 auto;
}
.login, .register {
  width: 400px;
}
.test {
  width: 600px;
}
.home, .result {
  text-align: center;
}
.user:before {
  content: "\1F464";
  font-size: 4em;
  display: block;
}
.user-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}
.user {
  color: #0074d9;
  background-color: lightsteelblue;
  padding: 20px;
}